header {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/dghnwllrc/image/upload/v1673186213/project%20world/madera_wb8rmq.jpg");
    padding: 10px;
}


nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

button {
    font-size: xx-large;
    background: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5),0px -1px 1px rgba(0,0,0,.3);
    /* background-image: url("https://res.cloudinary.com/dghnwllrc/image/upload/v1673186668/project%20world/maderaBtn_rsf6vk.jpg"); */
    background-size: cover;
    border-radius: 6px;
    border: rgba(0,0,0,.3) inset 4px;
    
    
}

button:hover{
opacity: 0.8;
}

nav > ul > li > button > a {
    padding: 7px;
}